In [2]:
import pandas as pd

fact = pd.read_parquet("../data/analytics/hmda/fact_loans_2023.parquet")
fact.head()

,activity_year,lei,loan_type,loan_purpose,state_code,county_code,census_tract,applicant_gender,income_k,income_usd,loan_amount,interest_rate,approved,income_bucket,loan_risk_tier,dti_est
0,2023,549300HW662MN1WU8550,1,1,TX,48201,48201556000,Female,78.0,78000.0,215000.0,NaN,0,Middle,Unknown,2.756410
1,2023,549300HW662MN1WU8550,1,1,TX,48201,48201250802,Male,171.0,171000.0,255000.0,NaN,0,High,Unknown,1.491228
2,2023,549300HW662MN1WU8550,2,32,FL,12103,12103025107,Female,122.0,122000.0,365000.0,NaN,0,Middle,Unknown,2.991803
3,2023,549300HW662MN1WU8550,1,1,IL,17197,17197883516,Male,131.0,131000.0,185000.0,NaN,0,Middle,Unknown,1.412214
4,2023,549300HW662MN1WU8550,1,31,CA,06037,06037603008,Female,51.0,51000.0,585000.0,NaN,0,Low,Unknown,11.470588

In [ ]:
import pandas as pd

fact = pd.read_parquet("../data/analytics/hmda/fact_loans_2023.parquet")

agg_purpose = (
    fact
    .groupby(["state_code", "income_bucket", "loan_purpose", "applicant_gender"])
    .agg(
        applications=("approved", "count"),
        approval_rate=("approved", "mean"),
        median_loan_amount=("loan_amount", "median")
    )
    .reset_index()
)

agg_purpose.head(10)